<h1>Task details</h1>

<table class="table">
  <tbody>
    <tr>
      <th><%= Task.human_attribute_name(:id)  %></th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:name) %></th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:description)  %></th>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:created_at)  %></th>
      <td><%= @task.created_at %></td>
    </tr>
  </tbody>
</table>