<h1>User details</h1>
<table class="table mt-3">
  <tbody>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<%=link_to 'Edit', edit_admin_user_path, class: 'btn btn-primary mr-3' %>
<%= link_to 'Delete', [:admin, @user], method: :delete,
            data: { confirm: "ユーザー「#{@user.name}」を削除します。よろしいですか？"},
            class: 'btn btn-danger' %>