<!DOCTYPE html>
<html>
<head>
  <title>RailsPractice</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-light bg-light">
  <%= link_to 'Homepage', root_path %>
  <div>
    <% if current_user %>
      <%= link_to 'Tasks list', tasks_path %>
      <%= link_to 'User profile', admin_user_path(current_user) %>
      <%= link_to 'Logout', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </div>


</nav>
<div class="container mt-3">
  <% if flash.notice.present? %>
    <div class="alert alert-success"><%= flash.notice %></div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
